/* Add CSS Styling */

.click-yes,
.click-no {

    font-size: 28px;
    font-family: 'Helvetica', 'Times New Roman', sans-serif;
}


.click-yes {
    background-color: black;
    color: white;
}

.click-no {
    background-color: yellow;
    color: black;
}