body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 10px;
}

.title {
  background: #e3f4ff;
  padding: 20px;
}

.content {
  background: #e3f4ff;
  display: block;
  margin-bottom: 20px;
  padding: 10px;
}

.button-container {
  background: #e3f4ff;
  display: block;
  padding: 10px;
  text-align: center;

  
}

button {
  background: white;
  border: 1px solid #eee;
  display: block;
  margin:auto;


}